@media screen and (min-width: 1140px) {
    .container {
        display: grid;
        grid-template-areas:
            "shl hea shr"
            "s1a s1a s1a"
            "val s2a var"
            "val s3a var"
            "val s4a var"
            "new new new"
            "vfl foo vfr";
        grid-template-columns: 1fr 1140px 1fr;
        grid-gap: 0px;
    }

    .container_2 {
        display: grid;
        grid-template-areas:
            "shl hea shr"
            "val s2a var"
            "new new new"
            "vfl foo vfr";
        grid-template-columns: 1fr 1140px 1fr;
        /* grid-gap: 0px; */
    }

    .val {
        grid-area: val;
        flex: 1;
        background-color: var(--fondo-body);
    }

    .var {
        grid-area: var;
        flex: 1;
        background-color: var(--fondo-body);
    }

    .vfl {
        grid-area: vfl;
        flex: 1;
        background-color: var(--fondo-oscuro);
    }

    .vfr {
        grid-area: vfr;
        flex: 1;
        background-color: var(--fondo-oscuro);
    }

    .shl {
        grid-area: shl;
        flex: 1;
        background-color: var(--blanco);
        box-shadow: 0px 4px 0px var(--sombra);
        z-index: 2;
    }

    .shr {
        grid-area: shr;
        flex: 1;
        background-color: var(--blanco);
        box-shadow: 0px 4px 0px var(--sombra);
        z-index: 2;
    }

    /* ? ----------------------------------------------------------- */
    /* ? Todas las páginas ----------------------------------------- */
    /* ? ----------------------------------------------------------- */

    /* * header ******************************* */
    header {
        display: grid;
        grid-template-areas:
            "logo menu";
        grid-template-columns: 2fr 2fr;
        grid-gap: 12px;
        align-items: center;
    }

    header img {
        float: left;
        width: 261px;
        height: 54px;
        padding-left: 16px;
    }

    .h_menu ul {
        text-align: right;
        padding-right: 16px;
    }

    /* * footer ******************************** */
    footer {
        padding-top: 32px;
        display: grid;
        grid-template-areas:
            "social_men social_nav"
            "separador separador"
            "alumno_nom alumno_nav";
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;
        align-items: baseline;

    }

    footer li:first-child {
        padding-left: 16px;
    }

    .social_men {
        text-align: left;
        width: 250px;
    }

    .social_nav {
        text-align: right;
    }

    .social_nav p {
        display: inline;
    }

    .separador {
        margin: 0;
    }

    .alumno_nom {
        text-align: left;
    }

    .alumno_nav {
        text-align: right;
    }

    .social_nav nav {
        display: inline-block;
        vertical-align: middle;
    }

    /* ! Pag1 -------------------------------------------------------- */
    /* ! Pag1 INDEX -------------------------------------------------- */
    /* ! Pag1 -------------------------------------------------------- */

    /* * 2a **************************** */
    .img_2a {
        /* width: calc(45vw); */
        width: 262px;
    }
.h2line{width: 1140px;}
    /* .s2a h2 {
        width: 1110px;
    } */

    h2::before {
        margin: 0 16px 0 0;
    }

    h2::after {
        margin: 0 0px 0 16px
    }

    .s2a_2 dt {
        width: 552px;
    }
    


    /* * 3a **************************** */
    .ds {
        width: 1110px;
    }

    .shop {
        width: 680px;

    }

    /* * 4a **************************** */
    .sa4_lim {
        gap: 28px;
    }

    #sec_txt {
        font-size: 18px;
        padding-right: 60px;
        line-height: 28px;
    }

    .s4a_lit {
        width: 530px;
        /* align-self: center; */
    }

    .s4a img {
        width: 556px;
    }



    /* ! Pag2 -------------------------------------------------------- */
    /* ! Pag2 RECIPES ------------------------------------------------ */
    /* ! Pag2 -------------------------------------------------------- */

    /* * 2a2 ******************************************************* */
    .s2a_2 {
        background-color: var(--fondo-body);
        display: grid;
        grid-template-areas:
            "he2 he2"
            "asi fi1"
            "asi pg1";
        grid-template-columns: 1fr;
        grid-gap: 2px;

        justify-items: center;
        padding-bottom: 16px;
    }

    h2#noline {
        text-align: center;
    }

    .br_cab {
        justify-self: flex-start;
        text-align: left;
    }

    aside {
        grid-area: asi;
        display: block;
        width: 271px;

        background-color: var(--blanco);

    }

    .chec_sel fieldset {
        border: 0px;
        display: flex;
        flex-direction: column;

    }

    .chec_sel legend {
        font-size: 1.125rem;
        text-transform: uppercase;
        padding: 16px 16px;

    }

    .chec_sel label {
        padding: 4px 16px;
    }

    .busca1 {
        display: block;
        margin: 16px 16px;
        border: 2px solid;
        border-color: var(--principal);
        border-radius: 4px;
        width: 239px;
        height: 50px;
        padding-left: 42px;
        font-family: Montserrat;
        font-size: 16px;
        background: url("../img/icons/search.svg") no-repeat 10px;
        background-color: var(--blanco);
    }

    .figures{row-gap: 32px;}

    /* ! Pag4 -------------------------------------------------------- */
    /* ! Pag4 VIDEOS  ------------------------------------------------ */
    /* ! Pag4 -------------------------------------------------------- */


    .blanco {
        background-color: var(--blanco);
        width: 542px;
        height: calc(100% - 315px);
    }

    .figures iframe {
        width: 542px;
        height: 315px;
    }

    .s2a_2 dt {
        padding: 16px 16px;
        width: 542px;
        /* font-size: calc(0.5rem + 2vw); */
    }

    .s2a_2 dd {
        width: 542px;
        font-size: 18px;
        line-height: 26px;
    }
}