:root {
    --principal: #79baab;
    --principal-l: #C5E1DB;
    --contraste: #dc4a23;
    --contraste-l: #eb9781;
    --fondo-body: #fff7e8;
    --fondo-oscuro: #2a2a2a;
    --blanco: #ffffff;
    --sombra: #00000040;
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v24-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v24-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v24-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v24-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v24-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v24-latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v24-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v24-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v24-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v24-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v24-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v24-latin-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v24-latin-900.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/montserrat-v24-latin-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/montserrat-v24-latin-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/montserrat-v24-latin-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/montserrat-v24-latin-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/montserrat-v24-latin-900.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    font-family: Montserrat;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h1#may {
    text-transform: uppercase;
}

h2 {
    font-size: 2.25rem;
    text-transform: uppercase;
}

h2#noline {
    font-size: 2.625rem;
}

h2#noline::before, h2#noline::after {
    flex: 0;
}

p#h_index, p#h_twiter, p#h_instagram, p#h_youtube, p#h_facebook {
    display: none;
}

.container {
    display: grid;
    grid-template-areas:
    "shl hea shr"
    "s1a s1a s1a"
    "val s2a var"
    "val s3a var"
    "val s4a var"
    "new new new"
    "vfl foo vfr";
    grid-template-columns: minmax(.9375rem, 0.5fr) 16fr minmax(.9375rem, 0.5fr);
    grid-gap: 0;
}


/* ? ----------------------------------------------------------- */
/* ? Todas las páginas ----------------------------------------- */
/* ? ----------------------------------------------------------- */


/* * header **************************************************** */


header {
    padding-bottom: .125rem;
    grid-area: hea;
    display: grid;
    grid-template-areas:
        "logo"
        "menu";
    grid-template-columns: 1fr;
    grid-gap: .25rem;
    background-color: var(--blanco);
    box-shadow: 0 .25rem 0 var(--sombra);
    z-index: 2;
}

.logo {
    grid-area: logo;
}

.h_menu {
    grid-area: menu;
}

header img {
    display: block;
    margin: .5rem auto ;
    width: 10.625rem;
    height: 2.1513rem;
}

.h_menu ul {
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    list-style-type: none;
}

.h_menu li {
    display: inline-block;
}

.h_menu a {
    padding: 0 .5rem;
    color: var(--fondo-oscuro);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.h_menu a:hover {
    color: var(--principal);
}

a#sel {
    padding-right: .375rem;
    padding-left: .375rem;
    padding-bottom: .125rem;
    color: var(--fondo-oscuro);
    font-weight: 900;
    border-bottom: .1125rem dashed var(--fondo-oscuro);
}


/* * footer ************************************************** */
footer {
    grid-area: foo;
    padding: 2rem 0;
    display: grid;
    grid-template-areas:
        "social_men"
        "social_nav"
        "separador"
        "alumno_nom"
        "alumno_nav";
    grid-template-columns: 1fr;
    grid-gap: .25rem;
    color: var(--blanco);
    background-color: var(--fondo-oscuro);
}
.social_men {
    grid-area: social_men;
    text-align: center;
}
.social_nav {
    padding-bottom: .5rem;
    grid-area: social_nav;
    text-align: center;
}
footer p {
    margin: .5rem 0;
    font-family: Montserrat;
    font-weight: 400;
    font-size: .9375rem;
}
footer li {
    display: inline-block;
    padding: 0 0 0 1rem;
}
footer a {
    color: var(--blanco);
    text-decoration: none;
}
footer li:first-child {
    padding-left: 0;
}
.social_nav a:hover {
    opacity: 0.7;
}
.separador {
    grid-area: separador;
    margin: 0 1rem .5rem;
}
.alumno_nom {
    grid-area: alumno_nom;
    text-align: center;
}
.alumno_nom p {
    font-size: .875rem;
}
.alumno_nav {
    grid-area: alumno_nav;
    margin: .25rem 0;
    text-align: center;
    padding-bottom: .5rem;
    font-size: .875rem;
}
.alumno_nav a:hover {
    color: var(--principal);
}

/* * newsletter ************************************************ */
.newsletter {
    grid-area: new;
    height: 18.75rem;
    position: relative;
    background-color: var(--principal);
    z-index: -1;
}


.newsletter::before {
    content: "";
    background-image: url("../img/doodle.png");
    background-repeat: repeat-x;
    opacity: .1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.new_lit {
    margin: 0 auto;
    display: block;
    width: 28.125rem;
}

.new_lit h2#noline {
    padding: 2.5rem 0 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.375rem;
}

.new_lit p {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.subscribe {
    margin: .5rem auto;
    display: block;
    width: 28.125rem;
}

.email {
    margin: .625rem .625rem;
    border: .0625rem solid;
    border-radius: .25rem;
    width: 18.75rem;
    height: 2.75rem;
    padding-left: .625rem;
    font-family: Montserrat;
    font-size: 1rem;
    border-color: var(--principal);
    background-color: var(--blanco);
    z-index: 1;
}

.subscribe button {
    border: .0625rem solid var(--contraste);
    border-radius: .25rem;
    padding: .625rem;
    color: var(--blanco);
    background-color: var(--contraste);
    font-size: 1rem;
    font-weight: 400;
    margin: 1.25rem 0;
    width: 7.125rem;
    height: 2.75rem;
    font-family: Montserrat;
}



/* ! Pag1 -------------------------------------------------------- */
/* ! Pag1 INDEX -------------------------------------------------- */
/* ! Pag1 -------------------------------------------------------- */


/* * s1a ********************************************** */
.s1a {
    grid-area: s1a;
    background-image: url("../img/knife-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: .5rem;
}

.s1a h1 {
    display: block;
    margin: 0 auto 0;
    padding: 4.25rem 0 1rem;
    text-align: center;
    font-size: calc(2.66rem + 1vw);
    width: calc(25.5rem + 10vw);
}

.busca {
    display: block;
    margin: .625rem auto;
    border: .125rem solid;
    border-color: var(--principal);
    border-radius: .25rem;
    width: 22.5rem;
    height: 3.125rem;
    padding-left: 2.625rem;
    font-family: Montserrat;
    font-size: 1rem;
    background: url("../img/icons/search.svg") no-repeat .625rem;
    background-color: var(--blanco);
}

.s1a form {
    padding-bottom: 4rem;
}

/* * s2a ********************************************** */

.s2a, .s2a_2 {
    grid-area: s2a;
    background-color: var(--fondo-body);
    display: grid;
    grid-template-areas:
        "he2"
        "fi1"
        "pg1";
    grid-template-columns: 1fr;
    grid-gap: .125rem;
    justify-items: center;
    padding-bottom: 1rem;
}
.figures {
    grid-area: fi1;
    /* padding: 0 .9375rem; */   
    gap: 1.1875rem;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: left;
}
.h2line {
    margin: 2rem 0;
    width: 100%;
    display: block;
}

.s2a h2 {
    grid-area: he2;
}

.s2a h2, .shop h2  {
    /* padding: 0 .9375rem; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-items: center;
    text-align: center;
}
.s2a h2::before, .s2a h2::after,
.shop h2::before, .shop h2::after {
    content: '';
    flex: 1 1;
    border-bottom: .1875rem solid;
    margin: auto;
}

.s2a h2::before, .shop h2::before {
    margin-right: .9375rem;
}
.s2a h2::after, .shop h2::after {
    margin-left: .9375rem;
}
.s2a figcaption, .s2a_2 figcaption {
    text-transform: uppercase;
    font-size: 1.125rem;
    width: 15.5rem;
}
.s2a a, .s2a_2 a {
    text-decoration: none;
    color: var(--fondo-oscuro);
}
.s2a a:hover, .s2a_2 a:hover {
    color: var(--principal);
}
.img_2a {
    width: 15.625rem;
}




/* * 3a ****************************************************** */

.s3a {
    grid-area: s3a;
    padding: 5rem 0;
    background-image: url("../img/shop-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.shop {
    display: block;
    margin: 0 auto;
    padding: 2.375rem 3vw;
    background-color: var(--blanco);
    box-shadow: 0 .25rem .25rem var(--sombra);
    width: calc(24.75rem + 16vw);
    text-align: center;
}

.shop h2 {
    padding: 0 1.5rem;
}

.shop p {
    font-size: 1rem;
    color: var(--fondo-oscuro);
    text-align: center;
    padding: .75rem 2.3125rem;
    line-height: 1.5rem;
}

.shop a {
    color: var(--contraste);
    text-decoration: none;
    font-weight: 600;
}

.shop a:hover {
    color: var(--principal-l);
}

/* * 4a ******************************************************* */
.s4a {
    grid-area: s4a;
    background-color: var(--fondo-body);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sa4_lim {

    display: flex;
    gap: 1.25rem;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.s4a img {
    width: 100%;
}

.s4a_lit {
    width: 32.625rem;
}

.s4a_lit p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.s4a_lit p:first-child {
    text-transform: uppercase;
    font-size: 1rem;
}

.s4a_lit h3 {
    padding-bottom: .25rem;
    font-size: 2.375rem;
}

.s4a button {
    border: .0625rem solid var(--principal);
    border-radius: .25rem;
    padding: .625rem;
    color: var(--principal);
    background-color: var(--blanco);
    font-size: 1rem;
    font-weight: 400;
    margin: 1.25rem 0;
    width: 8.375rem;
    height: 3rem;
    font-family: Montserrat;
}



/* ! Pag2 -------------------------------------------------------- */
/* ! Pag2 RECIPES ------------------------------------------------ */
/* ! Pag2 -------------------------------------------------------- */



/* * 2a2 ******************************************************* */

.br_cab {
    grid-area: he2;
    margin-top: 2rem;
    display: block;
    text-align: center;
    padding: .5rem 1rem;
}

.pag {
    grid-area: pg1;
}



.br_cab p {
    padding: .5rem 0;
    line-height: 1.625rem;
}

.pag ol::before {
    content: '';
    text-decoration: none;
}

.pag li {
    display: inline-block;
    padding: 2rem .375rem 2rem 0;
}

.pag a {
    color: var(--principal);
    font-weight: 600;
}

.pag a:hover {
    color: var(--principal-l);
}

a#pag_sel {
    color: var(--fondo-oscuro);
    font-weight: 400;
}

aside {
    display: none;
    margin: 0;
}

/* ! Pag4 -------------------------------------------------------- */
/* ! Pag4 VIDEOS  ------------------------------------------------ */
/* ! Pag4 -------------------------------------------------------- */

.blanco {
    background-color: var(--blanco);
    width: 32.625rem;
    height: auto;
}

.figures iframe {
    width: 32.625rem;
    height: 19.6875rem;
}

.mydt {
    padding: 1rem .9375rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: .0938rem;
    width: 32.625rem;
}

.mydd {
    padding: 0 1rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.val {
    grid-area: val;
    background-color: var(--fondo-body);
}

.var {
    grid-area: var;
    background-color: var(--fondo-body);
}

.vfl {
    grid-area: vfl;
    background-color: var(--fondo-oscuro);
}

.vfr {
    grid-area: vfr;
    background-color: var(--fondo-oscuro);
}

.shl {
    grid-area: shl;
    background-color: var(--blanco);
    box-shadow: 0 .25rem 0 var(--sombra);
    z-index: 2;
}

.shr {
    grid-area: shr;
    background-color: var(--blanco);
    box-shadow: 0 .25rem 0 var(--sombra);
    z-index: 2;
}

/* ? ----------------------------------------------------------------------------------------------- */
/* ? DESKTOP --------------------------------------------------------------------------------------- */
/* ? ----------------------------------------------------------------------------------------------- */
@media screen and (min-width: 71.25rem) {
    .container {
        grid-template-columns: 1fr 69.375rem 1fr;
    }

    /* ? ----------------------------------------------------------- */
    /* ? Todas las páginas ----------------------------------------- */
    /* ? ----------------------------------------------------------- */

    /* * header ******************************* */
    header {
        grid-template-areas:
            "logo menu";
        grid-template-columns: 34.6875rem 34.6875rem;
        grid-gap: 0;
        align-items: center;
    }

    header img {
        float: left;
        width: 16.3125rem;
        height: 3.375rem;
    }

    .h_menu ul {
        text-align: right;
        padding-right: 1rem;
    }

    /* * footer ******************************** */
    footer {
        padding-top: 2rem;
        grid-template-areas:
            "social_men social_nav"
            "separador separador"
            "alumno_nom alumno_nav";
        grid-template-columns: 34.6875rem 34.6875rem;
        column-gap: 0;
        row-gap: .75rem;
        align-items: baseline;
    }
    footer li:first-child {
        padding-left: 1rem;
    }
    .social_men {
        text-align: left;
        width: 15.625rem;
    }
    .social_nav {
        text-align: right;
    }
    .social_nav nav {
        display: inline-block;
        vertical-align: middle;
    }
    .social_nav p {
        display: inline;
    }
    .separador {
        margin: 0;
    }
    .alumno_nom {
        text-align: left;
    }
    .alumno_nav {
        text-align: right;
    }

    

    

    /* ! Pag1 -------------------------------------------------------- */
    /* ! Pag1 INDEX -------------------------------------------------- */
    /* ! Pag1 -------------------------------------------------------- */

    /* * 2a **************************** */
    .figures{
        column-gap: 1.25rem;
        row-gap: 2rem;
    }
    .img_2a {
        width: 16.3125rem;   
    }
    .h2line {
        width: 69.375rem;
    }
    h2::before {
        margin: 0 1rem 0 0;
    }
    h2::after {
        margin: 0 0 0 1rem
    }


    /* * 3a **************************** */

    .shop {
        width: 42.5rem;
    }

    /* * 4a **************************** */
    .sa4_lim {
        gap: 1.75rem;
        justify-content: space-between;
    }

    #sec_txt {
        font-size: 1.125rem;
        padding-right: 3.75rem;
        line-height: 1.75rem;
    }

    .s4a_lit {
        width: 32.8125rem;
    }

    .s4a img {
        width: 34.625rem;
    }



    /* ! Pag2 -------------------------------------------------------- */
    /* ! Pag2 RECIPES ------------------------------------------------ */
    /* ! Pag2 -------------------------------------------------------- */

    /* * 2a2 ******************************************************* */
    .s2a_2 {
        grid-area: s2a;
        background-color: var(--fondo-body);
        display: grid;
        grid-template-areas:
            "he2 he2"
            "asi fi1"
            "asi pg1";
        grid-template-columns: 1fr 3fr;
        /* grid-gap: .125rem; */

        justify-items: center;
        padding-bottom: 1rem;
    }

    h2#noline {
        text-align: center;
    }

    .br_cab {
        justify-self: flex-start;
        text-align: left;
        padding-left: 0;
    }

    aside {
        grid-area: asi;
        margin-right: 1rem;
        display: block;
        width: 16.75rem;
        background-color: var(--blanco);
    }

    .chec_sel fieldset {
        border: 0;
        display: flex;
        flex-direction: column;
    }

    .chec_sel legend {
        font-size: 1.125rem;
        text-transform: uppercase;
        padding: 1rem 1rem;
    }

    .chec_sel label {
        padding: .25rem 1rem;
    }

    .busca1 {
        display: block;
        margin: 1rem 1rem;
        border: .125rem solid;
        border-color: var(--principal);
        border-radius: .25rem;
        width: 14.9375rem;
        height: 3.125rem;
        padding-left: 2.625rem;
        font-family: Montserrat;
        font-size: 1rem;
        background: url("../img/icons/search.svg") no-repeat .625rem;
        background-color: var(--blanco);
    }


    /* ! Pag4 -------------------------------------------------------- */
    /* ! Pag4 VIDEOS  ------------------------------------------------ */
    /* ! Pag4 -------------------------------------------------------- */


    .blanco {
        background-color: var(--blanco);
        width: 33.875rem;
        height: calc(100% - 19.6875rem);
    }

    .figures iframe {
        border-width: 0;
        width: 33.875rem;
        height: 19.6875rem;
    }

    .mydt {
        padding: 1rem 1rem;
        width: 33.875rem;
    }

    .mydd {
        width: 33.875rem;
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
}